.loading {
    width: 1200px;
    position: absolute;
    left: 0;
    top: 0;
    height: 500px;
    background: #fff center url("/loading.gif") no-repeat;
    z-index: 2;
}

.status {
    width: 50px;
    height: 50px;    
}

.status.done {
    background: #fff center url("../done.png") no-repeat;
}

.status.notdone {
    background: #fff center url("../notdone.png") no-repeat;
}
